<ion-header>
  <ion-toolbar>
    <ion-title>{{subject}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
	  <ion-item *ngFor="let key of keys">
	    <ion-label (click)="getDetail(lists[key].id)">{{ lists[key].date_time }}</ion-label>
	  </ion-item>
	</ion-list>

	  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
	    <ion-fab-button>
	      <ion-icon name="add"></ion-icon>
	    </ion-fab-button>
	    <ion-fab-list side="top">
	    	<ion-fab-list side="top">
	      <ion-fab-button (click)="manualList()"><ion-icon name="checkbox"></ion-icon></ion-fab-button>
	    </ion-fab-list>
	      <ion-fab-button (click)="go()"><ion-icon name="qr-scanner"></ion-icon></ion-fab-button>
	    </ion-fab-list>
	  </ion-fab>
</ion-content>